<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center"> Terms & Conditions </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis facilis ex, accusamus atque totam
                possimus eum ut modi, maiores rem odio iure vel laborum aliquid. Voluptatibus aperiam adipisci
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laudantium excepturi quaerat quos minima,
                sequi sapiente vitae voluptatem, nam repudiandae, commodi vel est praesentium totam consequuntur
                accusantium. Nam, inventore minus.
                doloremque deleniti.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis facilis ex, accusamus atque totam
                possimus eum ut modi, maiores rem odio iure vel laborum aliquid. Voluptatibus aperiam adipisci
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laudantium excepturi quaerat quos minima,
                sequi sapiente vitae voluptatem, nam repudiandae, commodi vel est praesentium totam consequuntur
                accusantium. Nam, inventore minus.
                doloremque deleniti.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis facilis ex, accusamus atque totam
                possimus eum ut modi, maiores rem odio iure vel laborum aliquid. Voluptatibus aperiam adipisci
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laudantium excepturi quaerat quos minima,
                sequi sapiente vitae voluptatem, nam repudiandae, commodi vel est praesentium totam consequuntur
                accusantium. Nam, inventore minus.
                doloremque deleniti.</p>

                <div class="text-center">
                    <button class="btn btn-info btn-sm btn-theme mt-4">Back to Home</button>
                </div>
        </div>
    </div>
</section>